<div class="breadcrumbs-wrapper">
    <div class="layout-container container-fluid">
        <nav
            class="sub-nav"
            aria-label="breadcrumb"
        >
            {{breadcrumbs}}
        </nav>
    </div>
</div>
<div class="form-wrapper pt-4 pb-5">
    <div class="layout-container container-fluid">
        <h1>
            {{t 'submit_a_request'}}
            <span class="follow-up-hint">
                {{follow_up}}
            </span>
        </h1>

        <div
            id="main-content"
            class="form"
        >
            {{request_form}}
        </div>
    </div>

</div>
