/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }

    &-item {
        border: 1px solid $brand_color;
        border-radius: 4px;
        box-sizing: border-box;
        color: $brand_color;
        display: flex;
        height: 150px;
        margin: 0 0 30px;
        max-width: 100%;
        text-align: center;
        width: 100%;
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

        @include tablet {
            margin: 0 15px;
            flex: 0 0 30%;
            width: 30%;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $brand_color;

            * {
                color: $brand_text_color;
                text-decoration: none;
            }
        }

        &-internal {
            background-color: transparent;
            border: 1px solid $border-color;

            .icon-lock {
                height: 15px;
                width: 15px;
                bottom: 5px;
                position: relative;
            }

            a {
                color: $text_color;
            }
        }
    }

    &-item-link {
        color: $brand_color;
        padding: 16px 24px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        border-radius: inherit;

        &:hover,
        &:active {
            text-decoration: none;
        }

        &:focus {
            @include focus-ring;
            text-decoration: none;
        }
    }

    &-item-title {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }

    &-item-description {
        margin: 0;
    }

    &-item-description:not(:empty) {
        margin-top: 10px;
    }
}
