/***** Breadcrumbs *****/
.breadcrumbs {
    @include tablet {
        margin: 0;
    }

    margin: 0 0 15px 0;
    padding: 0;

    li {
        color: #3793b4;
        display: inline;
        font-size: $font-size-small;
        max-width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;

        + li::before {
            content: ">";
            margin: 0 4px;
        }

        a {
            color: #3793b4;

            &:hover,
            &:focus {
                color: #0c2a35;
                text-decoration: underline;
            }
        }
    }
}
