/***** Buttons *****/
.button,
input[type="submit"] {
    display: inline-block;
    font-weight: 700;
    color: #606673;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    padding: 1rem 1.75rem 0.625rem;
    font-family: "Khula", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
    border-radius: 50px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

    &:hover,
    &:active,
    &:focus {
        color: #606673;
        text-decoration: none;
    }

    &.button-primary {
        background-color: #bcd530;
        border-color: #bcd530;
        color: #fff;

        &:hover,
        &:focus,
        &.focus,
        &:active {
            background-color: #a3b926;
            border-color: #c7df43;
            color: #fff;
        }
    }

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        box-shadow: none;
    }
}

// .button-large,
// input[type="submit"] {
//     @include tablet {
//         width: auto;
//     }

//     cursor: pointer;
//     background-color: $button-color;
//     border: 0;
//     border-radius: 4px;
//     color: $brand_text_color;
//     font-size: 14px;
//     font-weight: $font-weight-base;
//     line-height: 2.72;
//     min-width: 190px;
//     padding: 0 1.9286em;
//     width: 100%;

//     &:hover,
//     &:active,
//     &:focus {
//         background-color: $hover-button-color;
//     }

//     &[disabled] {
//         background-color: #ddd;
//     }
// }

// .button-secondary {
//     color: $secondary-text-color;
//     border: 1px solid $border-color;
//     background-color: transparent;

//     &:hover,
//     &:focus,
//     &:active {
//         color: $text_color;
//         border: 1px solid $border-color;
//         background-color: $primary-shade;
//     }
// }
