/***** Header *****/
$header-height: 71px;

//.header { }

.layout-logo img {
    display: inline;
    height: auto !important;
    width: auto !important;
}

.user-nav {
    display: inline-block;
    position: absolute;
    white-space: nowrap;

    @include tablet {
        position: relative;
    }

    &[aria-expanded="true"] {
        background-color: #0a5f7a;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        //border: solid 1px #ddd;
        right: 0;
        left: auto;
        top: 100%;
        z-index: 1040;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;

        > a {
            color: #fff;
            display: block;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.2;
            padding: 1rem 1.5rem 0.75rem;
            text-align: left;
            text-transform: uppercase;
        }
    }
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        @include tablet {
            display: inline-block;
        }

        border: 0;
        color: #fff;
        display: none;
        font-size: 1.125rem;
        font-weight: 700;
        //line-height: 1.2;
        padding: 0.125rem 1rem;
        text-transform: uppercase;
        width: auto;

        [dir="rtl"] & {
            padding: 0 0 0 20px;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            color: $link_color;
            text-decoration: none;
        }

        &.sign-in {
            display: inline-block;
        }
    }

    .hide-on-mobile {
        @include mobile {
            @include visually-hidden;
        }
    }

    .menu-button {
        @include tablet {
            display: none;
        }
        background-color: transparent;
        border: 0;
        //border-radius: 30px;
        color: #fff;
        display: inline-block;
        margin-left: 10px;
        padding: 0.75rem 0.75rem;
        width: auto;

        .icon-menu {
            vertical-align: middle;
            width: 24px;
            height: 24px;
        }

        [dir="rtl"] & {
            margin-left: 10px;
            margin-right: 0;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            color: $link_color;
        }
    }
}

.skip-navigation {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 14px;
    justify-content: center;
    left: -999px;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    position: absolute;
    top: auto;
    z-index: -999;

    [dir="rtl"] & {
        left: initial;
        right: -999px;
    }

    &:focus,
    &:active {
        left: auto;
        overflow: auto;
        text-align: center;
        text-decoration: none;
        top: auto;
        z-index: 999;

        [dir="rtl"] & {
            left: initial;
            right: auto;
        }
    }
}
