/***** Hero component *****/
.hero {
    background-image: url($homepage_background_image);
    background-position: center;
    background-size: cover;
    margin-bottom: 36px;
    position: relative;
    text-align: center;
    width: 100%;

    @include tablet {
        height: 350px;
        margin-bottom: 0;
    }

    &-community {
        background-image: url($community_background_image);
        margin-bottom: 10px;
    }

    &-overlay {
        background-color: rgba(36,36,36,.5);
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        z-index: 10;
    }

    &__heading {
        color: #fff;
    }

    &__intro {
        color: #fff;
        line-height: 1.3;
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    .search {
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
    }
}
