/***** Homepage *****/

.section {
    padding-bottom: 40px;
    padding-top: 40px;

    @include tablet {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    &-heading {
        margin-bottom: 32px;
        text-align: center;
    }

    &-callout-cards {
        background-color: $c-catskill;

        @include desktop {
            padding-bottom: 80px;
        }
    }
}

.video {
    .embed-responsive {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }
}

/***** Promoted articles *****/
.promoted-articles {
    @include desktop {
        flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-item {
        @include desktop {
            align-self: flex-end;
            flex: 0 0 auto;
            padding-right: 30px;
            width: 33%; /* Three columns on desktop */

            [dir="rtl"] & {
                padding: 0 0 0 30px;
            }
        }

        flex: 1 0 auto;

        &:nth-child(3n) {
            padding-right: 0;
        }

        a {
            display: block;
            border-bottom: 1px solid $border-color;
            padding: 15px 0;
            color: $text_color;
        }

        .icon-lock {
            vertical-align: baseline;
        }

        &:last-child a {
            @include desktop {
                border-bottom: 1px solid $border-color;
            }

            border: 0;
        }
    }
}

.community,
.activity {
    h2 {
        text-align: center;
    }
}

.community {
    background-color: $c-catskill;

    .card {
        background-color: transparent;
        height: 100%;
        text-align: center;
    }

    .buttons {
        text-align: center;
    }
}

.knowledgebase {
    .section {

    }
}
