/***** Metadata *****/
.meta-group {
    display: block;
    padding: 0;
}

.meta-group * {
    display: inline;
}

.meta-data {
    font-size: $font-size-small;

    &:not(:last-child)::after {
        content: "\00B7";
        margin: 0 5px;
    }
}
