/***** Search field *****/
.search {
    position: relative;

    input[type="search"] {
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0;
        box-sizing: border-box;
        color: #666666;
        font-size: 1.1rem;
        height: 50px;
        line-height: 1.5;
        padding: .5rem .75rem;
        -webkit-appearance: none;
        width: 100%;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

        [dir="rtl"] & {
            padding-right: 24px;
            padding-left: 24px;
        }

        &:focus {
            color: #7f8289;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(188, 213, 48, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(188, 213, 48, 0.25);
        }
    }

    // &-full input[type="search"] {
    //     border: 1px solid #fff;
    // }
}

.search-icon {
    @include vertical-align;
    position: absolute;
    left: 15px;
    z-index: 1;
    width: 18px;
    height: 18px;
    color: #777;

    [dir="rtl"] & {
        right: 15px;
        left: auto;
    }
}

.search-container {
    position: relative;
}
