// Variables

// Colors
$brand_color: #66c9d5;
$brand_text_color: #fff; //Color for text with an accent color background
$text_color: #116f8d;
$link_color: #bcd530;
$background_color: #fff;

$c-deepsea: #0c2a35;
$c-atoll: #0A5F7A;
$c-bluestone: #174c61;
$c-blumine: #1f5c75;
$c-fountain: #5ab2bc;
$c-spray: #66c9d5;
$c-surf: #116f8d;
$c-blue-lagoon: #3596B5;
$c-teal-blue: #074D64;

$c-darkgray: #262626;
$c-medgray: #4a4a4a;
$c-gray: #606673;
$c-boston: #3793b4;
$c-allports: #1e7884;
$c-scooter: #298693;
$c-keylime: #bcd530;
$c-fuego: #b7cd2b;
$c-palmtree: #c7df43;
$c-elm: #1b886e;
$c-jungle: #25a083;
$c-anzac: #dfb036;
$c-flamingo: #e55e5e;
$c-lightgray: #c7d1d7;
$c-lightergray: #cfd1d5;
$c-iron: #d8d8d8;
$c-gullgray: #9badb6;
$c-junglemist: #c2d3db;
$c-storm: #757a86;
$c-light-slate: #7e8e96;
$c-heather: #b5bcc0;
$c-geyser: #d0d8dd;
$c-solitude: #e8eff3;
$c-catskill: #f0f7f8;
$c-wild-sand: #f4f4f4;
$c-anakiwa: #A0F2FC;
$c-shakespeare: #43BCCA;
$c-opal: #A4C3C7;
$c-mystic: #DCE8E9;
$c-valencia: #d43829;

$visited-link-color: zass-darken($link_color, 20%);
$hover-button-color: zass-darken($brand_color, 20%);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

$font-size-bigger: 16px;
$font-size-base: 15px;
$font-size-navigation: 14px;
$font-size-small: 13px;
$font-size-smaller: 11px;

$border-color: #ddd;

$button-color: $c-keylime;

$input-font-size: 14px;
$field-text-color: #666;
$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1200px;

// Fonts
$heading_font: "museo", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !default;
$text_font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !default;
$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-extra-bold: 900;
